.App {
  text-align: center;
}

.Calculator{
  height: 85vmin;
  width: 50vmin;
  background-color: rgb(72, 72, 72);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.StringScreen{
  background-color: rgb(42, 67, 67);
  width: 43vmin;
  height: 10vmin;
  margin: 4mm;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.ButtonContainer{
  width: 43vmin;
  height: 66vmin;
  background-color: blueviolet;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}

.Button{
  width: 7vmin;
  height: 7vmin;
  margin: 4px;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.EnterButton{
  width: 40vmin;
  height: 9vmin;

}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #cdcdcd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
